.footer {
    background-color: #2E1D1E;
    width: 89%;
    height: 5%;
    padding: 1%;
    color: rgb(204, 204, 204);
    padding-left: 10%;
    margin-top: 3%;
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
        padding-left: 5%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 2%;
        text-align: center;
    }
}
