<div class="book-store-header-cnt">
  <div class="book-store-header-left-cnt">
    <div class="book-store-header-logo">
      <img src="../../../assets/logo/logo.png" alt="" />
      <span>Bookstore</span>
    </div>
    <div class="header-searchbar">
      <mat-icon svgIcon="search"></mat-icon>
      <input type="text" name="" id="" placeholder="Search..." class="" />
    </div>
  </div>

  <div class="book-store-header-right-cnt">
    <div class="book-store-header-btns">
      <div class="header-btns">
        <mat-icon svgIcon="profile"></mat-icon>
        <button mat-button >
          Profile
        </button>

        <mat-menu #loginMenu="matMenu" style="display: flex;" >
          <p style="font-size: small; font-weight: bold">Welcome</p>
          <p style="font-size: small">To access and manage orders</p>
          <button>login/SignUp</button>
          <hr />
          <div class="mat-menu-btns" style="display: flex; flex-direction: column;">
            <button>My Orders</button>
            <button>WishList</button>
          </div>
        </mat-menu>
        
        <mat-menu #loggedInMenu="matMenu" style="display: flex;" >
          <p style="font-size: small; font-weight: bold">Welcome</p>
          <p style="font-size: small">To access and manage orders</p>
          <button>login/SignUp</button>
          <hr />

          <div class="mat-menu-btns" style="display: flex; flex-direction: column;">
            <button>My Orders</button>
            <button>WishList</button>
          </div>
        </mat-menu>
      </div>
      <div class="header-btns">
        <mat-icon svgIcon="cart"></mat-icon>
        <button>Cart</button>
      </div>
    </div>
  </div>
</div>
