
<div class="div">
  <div class="profile-main-ctn-router" style="display: flex; justify-content: flex-start; width: 60%; margin: 30px 0 0 30px ;">
    <p style="color: grey; cursor: pointer;" (click)="navigateHome()">Home/</p>
    <p>OrderList</p>
</div>

  <div class="main-card">
    <div class="card2" *ngFor="let item of cartItems">
      <div class="img-head">
        <img class="img" width="80px" src="../../../assets/book-images/Image 11.png" alt="">
        <div class="item-details">
          <h3>{{item.product_id.bookName}}</h3>
          <p>{{item.product_id.author}}</p>
          <strong>Rs. {{item.product_id.price}}</strong>
        </div>
      </div>
      <div class="order-status">
        <strong>🟢Order Placed On May 21</strong>
      </div>
    </div>
 
</div>
</div>

<div class="please-login-in" *ngIf="showLogin==true" (click)="login()">
  <h1>PLEASE LOG IN</h1>
  <p>Login to view in your wishlist</p>
  <img src="../../../assets/order-list.png" alt="" >
  <div class="login-signup">
      LOGIN/SIGNUP
  </div>
</div>
