.books-container-main{
    display: flex;
    flex-direction: column;
    // gap: 100px;
}

.books-container-display-cards{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px 20px;
    justify-content: center;
    align-items: center;
   

}

.books-container-cards{
    width: 235px;
    height: 300px;
}

.books-container-header{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}

.books-container-header-books{
    display: flex;
    gap: 5px;
    align-items: center;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  
  .paginator button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .paginator button.active {
    background-color: #d32f2f;
    color: white;
  }
  
  .paginator button:hover {
    background-color: #e0e0e0;
  }
 select{
    padding: 5%;
    align-content: center;
 }
  
  mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }