


<div class="cart">

  <div class="cart1">
    <div class="cart-head">
     <strong class="title">My Cart({{ cartItems.length }})</strong>
     <div class="select-main">
      <img src="../../../assets/icons/location.png" width="35px" alt="">
       
      <select class="select" name="" id="">
        <option value="current">Use Current Location</option>
       <option value="home">Home</option>
       <option value="work">Work</option>
     </select>
     </div>
     
    </div>

    <br><br>
    <br>
    <div class="cart-body">


      <div class="product" *ngFor="let item of cartItems">
      <img class="img" width="80px" src="../../../assets/book-images/Image 11.png" alt="">
      <div class="item-details">
        <h3>{{item.product_id.bookName}}</h3>
        <p> {{item.product_id.author}} </p>
        <strong>Rs. {{item.product_id.price}}</strong>
         
        <div class="quantity">
          <div class="btns">
          <button (click)="onDecrement()" class="btn">-</button>
          <input  readonly class="input" type="text" value="{{item.product_id.quantity}}" >
          <button (click)="onIncrement()" class="btn">+</button>
        </div>
        <strong (click)="removeCartItem(item._id)">Remove</strong>
          </div>
        
      </div>
    </div>
    

    </div>



    <br>
    <div class="cart-footer">
     


      <button class="Order"  *ngIf="isBtnVisible" (click)="showCart2()">Place Order</button>
    </div>
  </div>




  <div class="cart2" *ngIf="isCart2Visible">
    <div class="cart-head">
     <strong class="title2">Customer Details</strong>
     <div class="select-main">
     <h5 class="Add-new-address">Add New Address</h5>
     </div>
     
    </div>

    <br>
    <div class="cart-body">
     <form action="post">

      <div class="name">
        <input  class="form" type="text" placeholder="Full-Name" name="" id="">
        <input  class="form"  type="text " placeholder="Mobile Number" name="" id="">
      </div>
     
      <input  class="form2"  type="text " placeholder="Address" name="" id="">
     
      <div class="city">
        <input  class="form"  placeholder="City" type="text" name="" id="">
        <input   class="form" placeholder="State" type="text" name="" id="">
      </div>

      <br>
      <div class="type">
        <h3>Type</h3>
        
        <div class="radio">
          <div class="option1">
            <input style="color: rgb(107, 1, 1);" type="radio" name="opt" id="">
            <h4>Home</h4>
          </div>
          <div class="option2">
            <input type="radio" name="opt" id="">
            <h4>Work</h4>
          </div>
<div class="option3">
            <input type="radio" name="opt" id="">
            <h4>Other</h4>
          </div>

          
        </div>
      </div>
      
     </form>

   


  
 
    
     

    </div>
    
    
    <div class="option4">
      
            
      <button *ngIf="isBtnVisible2"  class="Order2" (click)="showCart3()" >Place Order</button>
    </div>
  </div>


  <div class="card2" *ngIf="isCard2Visible">
    <strong>Address Details</strong>
  </div>

  <div class="card3" *ngIf="isCard3Visible">
    <strong>Order Summary</strong>
  </div>


  <div class="cart3" *ngIf="isCart3Visible" >
    <strong>Order Summary</strong>

    <div class="order-summary" >
    <div class="cart-head">
     
    
      
     </div>
 
     <br>
    
     <div class="cart-body" *ngFor="let item of cartItems">
      
       <img class="img" width="80px" src="../../../assets/book-images/Image 11.png" alt="">
       <div class="item-details">
        <h3 class="txt">{{item.product_id.bookName}}</h3>
        <p  class="txt"> {{item.product_id.author}} </p>
        <strong >Rs. {{item.product_id.price}}</strong>
         
       </div>

     </div>
  
 
 
     <br>
    
    </div>
    <div class="cart-footer2">
       
 
      <button  class="Order" (click)="showCart2()">Checkout</button>
    </div>
   </div>
  
</div>

<br><br>
<br><br>
